<form #addNote="ngForm">
  <div class="form-group">
    <textarea [(ngModel)]="note.task" type="text" class="form-control" id="task" placeholder="task" rows="3" name="task"
      required></textarea>
    <small id="taskHelp" class="form-text">Write a task in the note!</small>
  </div>
  <div class="form-group">
    <input [(ngModel)]="note.date" type="date" class="form-control col-4" id="date" name="date" required>
    <small id="dateHelp" class="form-text">Write a date in the note!</small>
  </div>
  <div class="row">
    <div class="form-group col-9">
      <input [(ngModel)]="note.time" type="time" class="form-control col-4" id="time" name="time">
      <small id="timeHelp" class="form-text">Write a time exactly!</small>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-warning" (click)="saveNote()">Save</button>
    </div>
  </div>
</form>